<div class="row">
  <div class="col-md-8 image-container border">
    <div>
      <img src="https://res.cloudinary.com/dipk7cq9q/image/upload/v1672401443/product_images/xrmfc5awu5iigmhqoqeq.jpg">
    </div>
  </div>
  <div class="col-md-4 border py-2">
    <div class="d-flex">
      <span class="label pr-2">Product Name : </span> ewwed
    </div>
    <div class="d-flex">
      <span class="label pr-2">Product Price : </span> ewwed
    </div>
    <div>
      <span class="label pr-2">Product Description : </span> <br>
      <span>wasdds</span>
    </div>
    <div>
      <span class="label pr-2">Colors available : </span> <br>
      <span>wasdds</span>
    </div>
    <div>
      <span class="label pr-2">Size available : </span> <br>
      <span>wasdds</span>
    </div>
  </div>
</div>
